* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Fonts-start */
@font-face {
    font-family: Inter;
    src: url('../../../../assets/Fonts/Inter-VariableFont_slnt\,wght.ttf');
}

/* fonts-end */

.imageContentContainer {
    max-width: 95%;
    margin: auto;
    position: relative;

    img {
        width: 100%;
    }

    .contentText {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        h1 {
            color: var(--primary-white, #FFF);
            text-align: center;

            /* 7XL/Semibold */
            font-family: Inter;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 60px;
            /* 125% */
        }

        p {
            color: var(--primary-white, #FFF);
            text-align: center;

            /* M-24/Semibold */
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            /* 150% */
        }
    }
}