* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Fonts-start */
@font-face {
    font-family: Inter;
    src: url('../../../../assets/Fonts/Inter-VariableFont_slnt\,wght.ttf');
}

/* fonts-end */

.ourLocalExpertsContainer {
    max-width: 90%;
    margin: auto;
}

.ourLocalExpertsContent {
    display: grid;
    padding-bottom: 120px;
    grid-template-rows: 0.1fr 1fr;
    align-items: center;
    gap: 40px;
}

.ourLocalExpertsHeading h1 {
    color: var(--gray-900, #141D24);
    text-align: center;
    /* 5XL/Bold */
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
}
.ourLocalExpertsImages img{
width: 100%;
}
.imageInMobile{
    display: none;
}

/* responsive ourLocalExperts start */
@media only screen and (max-width: 500px) {


    .whyUsCards {
        display: grid;
        grid-template-columns: 1fr!important;
        gap: 24px;
    }
    .whyUsContent{
        padding: 30px 0px;
    }
    .imageInWeb{
        display: none;
    }
    .imageInMobile{
        display: block;
    }
}