* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Fonts-start */
@font-face {
    font-family: Inter;
    src: url('../../../assets/Fonts/Inter-VariableFont_slnt\,wght.ttf');
}

/* fonts-end */

.brandNewTripSectionContainer {
    max-width: 90%;
    margin: auto;
    padding: 120px 0px;

    .brandNewTripContent {
        display: grid;
        align-items: center;
        grid-template-rows: repeat(2, 0.5fr);
        gap: 40px;

        h1 {
            color: var(--gray-900, #141D24);
            text-align: center;

            /* 5XL/Bold */
            font-family: Inter;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            /* 133.333% */
        }

        .brandNewTripContentCard {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .cardContents {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .CardsTextContent {
                    display: flex;
                    padding: 16px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 12px;
                    border-radius: 0px 0px 15px 15px;
                    border-right: 1px solid var(--gray-100, #E3E7EB);
                    border-bottom: 1px solid var(--gray-100, #E3E7EB);
                    border-left: 1px solid var(--gray-100, #E3E7EB);
                    background: var(--primary-white, #FFF);

                    .brandNewCardsUpperText {
                        display: flex;
                        width: 384px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;

                        h1 {
                            color: var(--gray-900, #141D24);

                            /* M-20/Semibold */
                            font-family: Inter;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 20px;
                            /* 125% */
                        }
                    }

                    .brandNewCardsLowerText {
                        display: flex;
                        width: 384px;
                        height: 60px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;

                        p {
                            width: 384px;
                            height: 60px;
                            flex-shrink: 0;

                            overflow: hidden;
                            color: var(--gray-900, #141D24);

                            /* M-24/Regular */
                            font-family: Inter;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            /* 150% */
                        }
                    }
                }
            }
        }

    }


}